regkey_sets:
    dll_overrides: "HKEY_CURRENT_USER\Software\Wine\DllOverrides"
env_var_sets:
    nvidia:
        __NV_PRIME_RENDER_OFFLOAD: 1
        __GLX_VENDOR_LIBRARY_NAME: "nvidia"
        __VK_LAYER_NV_optimus: "NVIDIA_only"