[Unit]
Description = Disposito Service

[Service]
StandardError=journal
User={{username}}
ExecStart=ansible-playbook -u {{username}} {{kit_common_path}}/files/daemon-playbook.yaml --extra-vars "@{{kit_common_path}}/files/daemon-vars.yaml"

[Install]
WantedBy=multi-user.target