[Unit]
Description = Login Service

[Service]
StandardError=journal
User={{username}}
ExecStart=/bin/bash --login

[Install]
WantedBy=multi-user.target