[Unit]
Description = Disposito Service

[Service]
StandardError=journal
User={{username}}
ExecStart=ansible-playbook -u {{username}} {{kit_path}}/systemd-daemon-executor.yaml

[Install]
WantedBy=multi-user.target
